anyascii==0.3.2
cached_path==1.6.2
cn2an==0.5.22
g2p_en==2.1.0
g2pkk==0.1.2
gruut==2.2.3
gruut_ipa==0.13.0
huggingface_hub==0.21.4
inflect==7.3.1
jamo==0.4.1
jieba==0.42.1
librosa==0.9.1
MeCab==0.996.5
mecab_python3==1.0.9
num2words==0.5.12
numpy
onnx==1.16.2
onnx_simplifier==0.4.36
pykakasi==2.2.1
pypinyin==0.50.0
six==1.16.0
soundfile==0.12.1
torch
torchaudio
tqdm==4.66.5
transformers==4.27.4
