numpy==1.24.4
onnx==1.16.0
onnxruntime==1.16.0
soundfile
cn2an
inflect==7.3.1
pykakasi==2.2.1
pypinyin==0.50.0
cn2an==0.5.22
g2p_en==2.1.0
g2pkk==0.1.2
jamo==0.4.1
jieba==0.42.1
librosa==0.9.1
MeCab==0.996.5
mecab_python3==1.0.9
num2words==0.5.12
unidic-lite==1.0.8
fugashi==1.4.0